%flex-center
    display: flex
    justify-content: center
    align-items: center

%absolute-zero
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

@mixin link-style($normalColor, $hoverColor)
    text-decoration: none
    &:link, &:visited
        color: $normalColor
    &:hover, &:active
        color: $hoverColor

@mixin limit-row($rowQty)
    display: -webkit-box
    -webkit-line-clamp: $rowQty
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis

@mixin transparent-button($color)
    border: none
    color: $color
    background-color: transparent
    &:focus
        outline: none
